/* 清除内外边距 */
@define-mixin clear-span {
    margin: 0;
    padding: 0;
}

/*  封闭元素 */
@define-mixin close-element {
    position: relative;
    overflow: hidden;
}

/* 解除封闭 */
@define-mixin relieve-close {
    position: static;
    overflow: auto;
}

/*  满宽 */
@define-mixin full-width {
    width: 100%;
}

/*  列 */
@define-mixin cols $amount {
    ul {
        @mixin full-width;
        @mixin close-element;
        li {
            @mixin close-element;
            float: left;
            width: calc(100 / $(amount))%
        }
    }
}
