@define-mixin filament $color, $radius {
  & {
    position: relative;
    z-index: 1;
    border: none;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 200%;
    height: 200%;
    box-sizing: border-box;
    border: 1px solid $(color);
    border-radius: $(radius);
    transform: scale(0.5);
    transform-origin: left top;
  }
}

@define-mixin filament-bottom $color, $radius {
  & {
    position: relative;
    z-index: 1;
    border: none;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: auto;
    right: auto;
    bottom: 1px;
    left: 0;
    z-index: -1;
    width: 200%;
    height: 1px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid $(color);
    border-radius: $(radius);
    transform: scale(0.5);
    transform-origin: left bottom;
  }
}

@define-mixin filament-left $color, $radius {
  & {
    position: relative;
    z-index: 1;
    border: none;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 1px;
    width: 1px;
    height: 200%;
    box-sizing: border-box;
    border-left: 1px solid $(color);
    border-radius: $(radius);
    transform: scale(0.5);
    transform-origin: left top;
  }
}

@define-mixin filament-right $color, $radius {
  & {
    position: relative;
    z-index: 1;
    border: none;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 1px;
    width: 1px;
    height: 200%;
    box-sizing: border-box;
    border-right: 1px solid $(color);
    border-radius: $(radius);
    transform: scale(0.5);
    transform-origin: left top;
  }
}

@define-mixin filament-clear {
  & {
    position: relative;
    z-index: 1;
    border: none;
  }

  &:before {
    content: '';
    display: none;
    position: static;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    border: none;
    border-radius: 0;
    transform: none;
  }
}

@define-mixin border $name, $bcolor, $radius {
  $(name) {
    position: relative;
    border: none;
  }

  $(name):after {
     content: ' ';
     position: absolute;
     top: 0;
     left: 0;
     width: 200%;
     height: 200%;
     box-sizing: border-box;
     border: 1px solid $(bcolor);
     border-radius: $(radius);
     transform: scale(0.5);
     transform-origin: left top;
  }
}

@define-mixin border-top $name,$bcolor {
  $(name) {
    position: relative;
    border: none;
  }

  $(name):before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 1px;
    transform: scale(0.5);
    transform-origin: 0 0;
    background-color: $(bcolor);
  }
}

@define-mixin border-bottom $name,$bcolor {
  $(name) {
    position: relative;
    border: none;
  }

  $(name):after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200%;
    height: 1px;
    transform: scale(0.5);
    transform-origin: left bottom;
    background-color: $(bcolor);
  }
}

@define-mixin border-left $name, $bcolor,$radius {
  $(name) {
    position: relative;
    border: none;
  }

  $(name):after {
     content: ' ';
     position: absolute;
     top: 0;
     left: 0;
     width: 200%;
     height: 200%;
     box-sizing: border-box;
     border-left: 1px solid $(bcolor);
     border-radius: $(radius);
     transform: scale(0.5);
     transform-origin: left top;
  }
}

@define-mixin border-right $name, $bcolor,$radius {
  $(name) {
    position: relative;
    border: none;
  }

  $(name):after {
     content: ' ';
     position: absolute;
     top: 0;
     left: 0;
     width: 200%;
     height: 200%;
     box-sizing: border-box;
     border-right: 1px solid $(bcolor);
     border-radius: $(radius);
     transform: scale(0.5);
     transform-origin: left top;
  }
}
