@define-mixin filament $color, $radius {
  & {
    position: relative;
    border: none;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 200%;
    height: 200%;
    box-sizing: border-box;
    border: 1px solid $(color);
    border-radius: $(radius);
    transform: scale(0.5);
    transform-origin: left top;
  }
}

@define-mixin filament-top $color, $radius {
  & {
    position: relative;
    border: none;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 200%;
    height: 200%;
    box-sizing: border-box;
    border: 1px solid $(color);
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: $(radius);
    transform: scale(0.5);
    transform-origin: left top;
  }
}

@define-mixin filament-bottom $color, $radius {
  & {
    position: relative;
    border: none;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 200%;
    height: 200%;
    box-sizing: border-box;
    border: 1px solid $(color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: $(radius);
    transform: scale(0.5);
    transform-origin: left top;
  }
}

@define-mixin filament-left $color, $radius {
  & {
    position: relative;
    border: none;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 1px;
    width: 1px;
    height: 200%;
    box-sizing: border-box;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid $(color);
    border-radius: $(radius);
    transform: scale(0.5);
    transform-origin: left top;
  }
}

@define-mixin filament-right $color, $radius {
  & {
    position: relative;
    border: none;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 1px;
    width: 1px;
    height: 200%;
    box-sizing: border-box;
    border: 1px solid $(color);
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-radius: $(radius);
    transform: scale(0.5);
    transform-origin: left top;
  }
}

@define-mixin filament-none {
  & {
    position: relative;
    border: none;
  }

  &:before {
    content: '';
    display: none;
    position: static;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    border: none;
    border-radius: 0;
    transform: none;
  }
}
