/*  基准设备 */
$standardMachine: 414;
$standardFontSize: 20;

/*  对比基准，计算根元素的size */
@define-mixin mediaRoot $machine {
	html {
		font-size: calc($(machine) / $standardMachine * $standardFontSize);
	}
}

/*  按实际size计算rem */
@define-mixin pixelToRem $size, $attribute {
		$(attribute): calc($(size) / $standardFontSize)rem;
}

/*  重设响应缩放范围 */
@define-mixin mediaResizeScope $start, $end, $size {
	 @media (width >= $(start)) and (width <= $(end)) {
		 	html {
				 font-size: $(size);
			}
	 }
}
